<div class="card-content" style="direction: rtl">
  <div class="px-3">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <div *ngIf="!loading.display" class="form-body">

      <div class="form-actions">
        <small class="form-text text-muted ">حذف ریدف اطلاعات </small>
        <small class="form-text text-muted danger">{{requestModel.Title}} </small>
      </div>
      <div class="form-actions" >

        <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
          <i class="ft-x"></i> انصراف
        </button>
        <button type="button" (click)="DataDeleteContent()" class="btn btn-raised btn-primary">
          <i class="fa fa-check-square-o"></i> حدف
        </button>

      </div>
    </div>
  </div>
</div>
