<div class="row">
    <div class="col-xl-3">
        <app-news-category-tree [options]="optionsCategorySelect"></app-news-category-tree>
    </div>
    <div class="col-xl-9">
        <div class="button-row">
            <button *ngIf="dataModelResult.Access.AccessAddRow && this.optionsCategorySelect.data?.Select?.Id>0" (click)="onActionbuttonNewRow()" type="button" class="btn btn-primary" id="openModalButton" data-toggle="modal" data-target="#categoryModal">اضافه</button>
            <button *ngIf="dataModelResult.Access.AccessEditRow && tableRowSelected.Id>0" (click)="onActionbuttonEditRow()" type="button" class="btn btn-warning ml-2" data-toggle="modal" data-target="#categoryModal">ویرایش</button>
            <button *ngIf="dataModelResult.Access.AccessDeleteRow && tableRowSelected.Id>0" (click)="onActionbuttonDeleteRow()" type="button" class="btn btn-danger  ml-2">حذف</button>

            <a class="btn btn-secondary btn-sm BTN">
                <mat-slide-toggle [(ngModel)]="optionsSearch.data.show"  >پرس و جو ساز</mat-slide-toggle>
            </a>
            <a class="btn btn-success btn-sm BTN">
              <mat-slide-toggle [(ngModel)]="optionsStatist.data.show" (click)="onActionbuttonStatist()" >آمار</mat-slide-toggle>
          </a>

            <button (click)="onActionbuttonExport()" type="button" class="btn btn-bg-info BTN">خروجی فایل</button>
            <button (click)="onActionbuttonReload()" type="button" class="btn btn-warning BTN">برسی مجدد</button>

            <app-cms-search-content-list [(options)]="optionsSearch"></app-cms-search-content-list>

                <app-cms-export-content-list  [(options)]="optionsExport"></app-cms-export-content-list>
                <app-cms-statist-content-list  [(options)]="optionsStatist" ></app-cms-statist-content-list>
            </div>



        <app-progress-spinner  [options]="loading" >
        </app-progress-spinner>
        <table *ngIf="!loading.display" mat-table [dataSource]="dataModelResult.ListItems" class="mat-elevation-z8">
            <!-- Position Column -->

            <ng-container matColumnDef="LinkSiteId"  >
                <th mat-header-cell *matHeaderCellDef  >شناسه سایت</th>
                <td mat-cell *matCellDef="let element" >
                    {{ element.LinkSiteId }}
                </td>
            </ng-container>
            <ng-container matColumnDef="RecordStatus">
                <th mat-header-cell *matHeaderCellDef>وضعیت</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.RecordStatus }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef>عنوان</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.Title }}
                </td>
            </ng-container>
            <ng-container matColumnDef="CreatedDate">
                <th mat-header-cell *matHeaderCellDef>ناریخ ایجاد</th>
                <td mat-cell *matCellDef="let element">
                    {{ publicHelper.LocaleDate(element.CreatedDate) }}
                </td>
            </ng-container>
            <ng-container matColumnDef="UpdatedDate">
                <th mat-header-cell *matHeaderCellDef>تاریخ ویرابش</th>
                <td mat-cell *matCellDef="let element">
                    {{ publicHelper.LocaleDate(element.UpdatedDate) }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="onActionTableRowSelect(row)" [ngStyle]="{'background': row.Id === tableRowSelected.Id ? '#d3d3da' : '' }" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
