<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm"
      class="form mt-0 mt-lg-10 fv-plugins-bootstrap fv-plugins-framework">
      <app-progress-spinner [options]="loading">
      </app-progress-spinner>
      <mat-horizontal-stepper *ngIf="!loading.display" (selectionChange)="onStepClick($event,stepper)" #stepper>
        <mat-step label="مشخصات منو" state="main">
          <!-- RecordStatus Field -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="وضعیت" [(ngModel)]="dataModel.RecordStatus" name="dataModel.RecordStatus"
              #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
              <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
            </mat-select>
            <mat-hint align="end">انتخاب وضعیت این محتوا</mat-hint>
            <mat-error *ngIf="RecordStatus.errors?.required">
              RecordStatus is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- Title Field -->
          <app-core-cpmainmenu-selector (optionSelect)="onActionCategorySelect($event)" [disabled]="false"
            [optionSelectForce]="dataModel.LinkParentId" [optionPlaceholder]="'منوی والد'">
          </app-core-cpmainmenu-selector>
          <!-- Title Field -->
          <mat-form-field class="example-full-width" *ngIf="fieldsInfo['Title']?.AccessWatchField">
            <mat-label> {{fieldsInfo['Title']?.FieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.Title" name="dataModel.Title" #Title type="text"
              [disabled]="!fieldsInfo['Title']?.AccessEditField" placeholder="{{fieldsInfo['Title']?.FieldTitle}}"
              minlength="3" maxlength="100" required />
            <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.Title = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
            <mat-error *ngIf="Title.errors?.required">
              {{fieldsInfo['Title']?.FieldTitle}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- TitleML Field -->
          <mat-form-field class="example-full-width" *ngIf="fieldsInfo['TitleML']?.AccessWatchField">
            <mat-label> {{fieldsInfo['TitleML']?.FieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.TitleML" name="dataModel.TitleML" #TitleML type="text"
              [disabled]="!fieldsInfo['TitleML']?.AccessEditField" placeholder="{{fieldsInfo['TitleML']?.FieldTitle}}"
              minlength="3" maxlength="100" required />
            <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.TitleML = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ TitleML.value.length }} / 100</mat-hint>
            <mat-error *ngIf="TitleML.errors?.required">
              {{fieldsInfo['TitleML']?.FieldTitle}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- TitleEn Field -->
          <mat-form-field class="example-full-width" *ngIf="fieldsInfo['TitleEn']?.AccessWatchField">
            <mat-label> {{fieldsInfo['TitleEn']?.FieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.TitleEn" name="dataModel.TitleEn" #TitleEn type="text"
              [disabled]="!fieldsInfo['TitleEn']?.AccessEditField" placeholder="{{fieldsInfo['TitleEn']?.FieldTitle}}"
              minlength="3" maxlength="100" required />
            <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.TitleEn = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ TitleEn.value.length }} / 100</mat-hint>
            <mat-error *ngIf="TitleEn.errors?.required">
              {{fieldsInfo['TitleEn']?.FieldTitle}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- TitleResourceLanguage Field -->
          <mat-form-field class="example-full-width" *ngIf="fieldsInfo['TitleResourceLanguage']?.AccessWatchField">
            <mat-label> {{fieldsInfo['TitleResourceLanguage']?.FieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.TitleResourceLanguage" name="dataModel.TitleResourceLanguage"
              #TitleResourceLanguage type="text" [disabled]="!fieldsInfo['TitleResourceLanguage']?.AccessEditField"
              placeholder="{{fieldsInfo['TitleResourceLanguage']?.FieldTitle}}" minlength="3" maxlength="100"
              required />
            <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.TitleResourceLanguage = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ TitleResourceLanguage.value.length }} / 100</mat-hint>
            <mat-error *ngIf="TitleResourceLanguage.errors?.required">
              TitleResourceLanguage is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- AddressLink Field -->
          <mat-form-field class="example-full-width" *ngIf="fieldsInfo['AddressLink']?.AccessWatchField">
            <mat-label> {{fieldsInfo['AddressLink']?.FieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.AddressLink" name="dataModel.AddressLink" #AddressLink type="text"
              [disabled]="!fieldsInfo['AddressLink']?.AccessEditField"
              placeholder="{{fieldsInfo['AddressLink']?.FieldTitle}}" minlength="0" maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.AddressLink = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ AddressLink.value.length }} / 100</mat-hint>

          </mat-form-field>
          <!-- RouteAddressLink Field -->
          <mat-form-field class="example-full-width" *ngIf="fieldsInfo['RouteAddressLink']?.AccessWatchField">
            <mat-label> {{fieldsInfo['RouteAddressLink']?.FieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.RouteAddressLink" name="dataModel.RouteAddressLink" #RouteAddressLink
              type="text" [disabled]="!fieldsInfo['RouteAddressLink']?.AccessEditField"
              placeholder="{{fieldsInfo['RouteAddressLink']?.FieldTitle}}" minlength="0" maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.RouteAddressLink = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ RouteAddressLink.value.length }} / 100</mat-hint>

          </mat-form-field>
          <!-- Description Field -->
          <mat-form-field class="example-full-width" *ngIf="fieldsInfo['Description']?.AccessWatchField">
            <mat-label>{{fieldsInfo['Description']?.FieldTitle}}</mat-label>
            <textarea matInput [(ngModel)]="dataModel.Description" name="dataModel.Description" #Description type="text"
              placeholder="{{fieldsInfo['Description']?.FieldTitle}}" minlength="1" maxlength="500" required
              rows="1"></textarea>
            <mat-icon matSuffix *ngIf="dataModel.Description" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.Description = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
            <mat-error *ngIf="Description.errors?.required">
              {{fieldsInfo['Description']?.FieldTitle}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>












          <div *ngIf="formInfo.FormSubmitAllow">
            <a class="btn btn-secondary btn-sm BTN">
              <button (click)="onActionBackToParent()" type="button" class="btn btn-warning BTN">بازگشت</button>
            </a> <button type="button" [disabled]="!vform.form.valid" mat-button matStepperNext
              class="btn btn-primary font-weight-bold text-uppercase px-9 py-4">
              بعدی
            </button>
          </div>
        </mat-step>

        <mat-step label="دسترسی ها" state="seo">
          <p>دسترسی ها به این محتوا را مشخص کنید</p>


          <!-- ShowInAccessAdminAllowToProfessionalData Field -->
          <div class="example-full-width">
            <mat-slide-toggle [(ngModel)]="dataModel.ShowInAccessAdminAllowToProfessionalData"
              *ngIf="fieldsInfo['ShowInAccessAdminAllowToProfessionalData']?.AccessWatchField"
              [disabled]="!fieldsInfo['ShowInAccessAdminAllowToProfessionalData']?.AccessEditField"
              name="dataModel.ShowInAccessAdminAllowToProfessionalData">
              {{fieldsInfo['ShowInAccessAdminAllowToProfessionalData']?.FieldTitle}}
            </mat-slide-toggle>
          </div>

          <app-core-module-selector (optionSelect)="onActionCategoryModuleSelect($event)" [disabled]="false"
          [optionSelectForce]="dataModel.LinkModuleId" [optionPlaceholder]="'منوی والد'">
        </app-core-module-selector>


          <div *ngIf="formInfo.FormSubmitAllow">
            <button type="button" mat-button matStepperPrevious
              class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4">
              قبلی
            </button>
            <button type="submit" mat-button [disabled]="!vform.form.valid"
              class="btn btn-success font-weight-bold text-uppercase px-9 py-4">
              ذخیره
            </button>

          </div>
        </mat-step>


        <!-- Icon overrides. -->
        <ng-template matStepperIcon="main">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="seo">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="file">
          <mat-icon>forum</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="loaction">
          <mat-icon>forum</mat-icon>
        </ng-template>

      </mat-horizontal-stepper>

    </form>

  </div>
  <!--end::Container-->
</div>
