<h2 mat-dialog-title>...</h2>
<mat-dialog-content>

  <form #vform="ngForm" class="form form-horizontal">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <div *ngIf="!loading.display" class="form-body">
      <h4 class="form-section mb-8">
        <i class="ft-user"></i> حذف ردیف اطلاعات
      </h4>

      <div class="form-group row">

        <mat-form-field class="example-full-width">
          <mat-label>{{fieldsInfo['Title']?.Title}}</mat-label>
          <input matInput [(ngModel)]="dataModelResultCategory.Item.Title" name="dataModelResultCategory.Item.Title"
            #Title type="text" placeholder="عنوان" minlength="3" maxlength="50" required readonly />
        </mat-form-field>



      </div>
    </div>
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.FormError }}
      </small>
    </div>
    <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">

      <button type="button" (click)="onFormDelete()" [disabled]="!formInfo.ButtonSubmittedEnabled"
        class="btn btn-raised btn-warning mr-1">
        <i class="fa fa-check-square-o"></i> حذف
      </button>
      <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
        <i class="ft-x"></i> انصراف
      </button>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">

</mat-dialog-actions>
