<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm"
      class="form mt-0 mt-lg-10 fv-plugins-bootstrap fv-plugins-framework">
      <app-progress-spinner [options]="loading">
      </app-progress-spinner>
      <mat-horizontal-stepper *ngIf="!loading.display" (selectionChange)="onStepClick($event,stepper)" #stepper>

        <mat-step label="اطلاعات الزامی" state="main">

          <mat-form-field class="example-full-width">
            <mat-select placeholder="وضعیت" [(ngModel)]="dataModel.RecordStatus" name="dataModel.RecordStatus"
              #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
              <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
            </mat-select>
            <mat-hint align="end">انتخاب وضعیت این محتوا</mat-hint>
            <mat-error *ngIf="RecordStatus.errors?.required">
              RecordStatus is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <app-tag-category-selector (optionSelect)="onActionCategorySelect($event)"  [optionSelectForce]="dataModel.LinkCategoryId"  [optionPlaceholder]="'دسته بندی'" ></app-tag-category-selector>
          <mat-form-field class="example-full-width">
            <mat-label>عنوان</mat-label>
            <input matInput [(ngModel)]="dataModel.Title" name="dataModel.Title" #Title type="text" placeholder="عنوان"
              minlength="3" maxlength="100" required />
            <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.Title = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
            <mat-error *ngIf="Title.errors?.required">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>


       <div *ngIf="formInfo.FormSubmitAllow">
            <a class="btn btn-secondary btn-sm BTN">
              <button (click)="onActionBackToParent()" type="button" class="btn btn-warning BTN">بازگشت</button>
            </a>
            <button type="submit" mat-button [disabled]="!vform.form.valid"
            class="btn btn-success font-weight-bold text-uppercase px-9 py-4">
            ذخیره
          </button>
          </div>
        </mat-step>




        <!-- Icon overrides. -->
        <ng-template matStepperIcon="main">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="seo">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="file">
          <mat-icon>forum</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="loaction">
          <mat-icon>forum</mat-icon>
        </ng-template>

      </mat-horizontal-stepper>

    </form>

  </div>
  <!--end::Container-->
</div>
