<div class="row">
  <div class="col-lg-6 col-xxl-4">
    <app-core-user-widget></app-core-user-widget>
  </div>
  <div class="col-lg-6 col-xxl-4">
    <app-core-site-widget-status></app-core-site-widget-status>
  </div>
  <div class="col-lg-6 col-xxl-4">
    <app-core-site-widget-count></app-core-site-widget-count>
  </div>
  <div class="col-lg-6 col-xxl-4">
    <app-application-app-widget></app-application-app-widget>
  </div>
  <div class="col-lg-6 col-xxl-4">
    <app-application-memberinfo-widget></app-application-memberinfo-widget>
  </div>
  <div class="col-lg-6 col-xxl-4">
    <app-news-content-widget></app-news-content-widget>
  </div>
  <div class="col-lg-6 col-xxl-4">
    <app-article-content-widget></app-article-content-widget>
  </div>
  <div class="col-lg-6 col-xxl-4">
  </div>

</div>
<!-- <div class="row">
  <div class="col-lg-4">
    <app-application-app-widget></app-application-app-widget>
  </div>
  <div class="col-lg-8">
    <app-application-app-widget></app-application-app-widget>
  </div>
</div> -->
