<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
    <!--begin::Logo-->
    <a routerLink="/" class="brand-logo">
        <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <!--end::Logo-->

    <ng-container *ngIf="asideSelfMinimizeToggle">
        <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
            <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-double-left.svg'" cacheSVG="true" class="svg-icon svg-icon-xl"></span>
        </button>
    </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
    <ng-container *ngIf="disableAsideSelfDisplay">
        <!--begin::Header Logo-->
        <a routerLink="/">
            <img alt="Logo" [attr.src]="headerLogo" />
        </a>
        <!--end::Header Logo-->
    </ng-container>
    <!--begin::Menu Container-->
    <div id="kt_aside_menu" class="aside-menu" [ngClass]="asideMenuCSSClasses" data-menu-vertical="1" [attr.data-menu-scroll]="asideMenuScroll" [attr.data-menu-dropdown]="asideMenuDropdown" data-menu-dropdown-timeout="500">
        <!-- begin::Menu Nav -->
        <ul class="menu-nav" [ngClass]="ulCSSClasses">


            <!-- begin::1 Level -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
                    <span class="menu-text">داشبورد</span>
                </a>
            </li>
            <!-- Material-UI -->
            <!-- begin::1 Level -->
            <li *ngFor="let firstItem of resultCoreCpMainMenu.ListItems" class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
                <a *ngIf="firstItem.Children.length===0" class="menu-link" routerLink="{{firstItem.RouteAddressLink}}" routerLinkActive="active">
                    <span [style.color]="firstItem.Color?.length>0 ? firstItem.Color:''" class="menu-text"><i [ngClass]="firstItem.Icon" [style.color]="firstItem.Color?.length>0 ? firstItem.Color:''" aria-hidden="true"></i>&nbsp;&nbsp;{{firstItem.Title}}</span>
                </a>
                <a *ngIf="firstItem.Children.length>0" class="menu-link menu-toggle" routerLinkActive="active">
                    <!--          <span [inlineSVG]="'./assets/media/svg/icons/Design/Cap-2.svg'" cacheSVG="true"-->
                    <!--            class="svg-icon menu-icon">-->
                    <!--          </span>-->
                    <span [style.color]="firstItem.Color?.length>0 ? firstItem.Color:''" class="menu-text"><i [ngClass]="firstItem.Icon" [style.color]="firstItem.Color?.length>0 ? firstItem.Color:''" aria-hidden="true"></i>&nbsp;&nbsp;{{firstItem.Title}}</span>
                    <i class="menu-arrow"></i>
                </a>
                <div *ngFor="let secondItem of firstItem.Children" class="menu-submenu">
                    <i class="menu-arrow"></i>
                    <ul class="menu-subnav">
                        <li class="menu-item menu-item-parent" aria-haspopup="true">
                            <span class="menu-link">
                                <span class="menu-text">Material UI</span>
                            </span>
                        </li>
                        <!-- Form Controls -->

                        <!-- begin::2 Level -->
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
                            <a *ngIf="secondItem.Children.length===0" class="menu-link" routerLink="{{secondItem.RouteAddressLink}}" routerLinkActive="active">
                                <span [style.color]="secondItem.Color?.length>0 ? secondItem.Color:''" class="menu-text"><i [ngClass]="secondItem.Icon" [style.color]="firstItem.Color?.length>0 ? firstItem.Color:''" aria-hidden="true"></i>&nbsp;&nbsp;{{secondItem.Title}}</span>
                            </a>
                            <a *ngIf="secondItem.Children.length>0" class="menu-link menu-toggle"  routerLinkActive="active">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span [style.color]="secondItem.Color?.length>0 ? secondItem.Color:''" class="menu-text"><i [ngClass]="secondItem.Icon" [style.color]="firstItem.Color?.length>0 ? firstItem.Color:''" aria-hidden="true"></i>&nbsp;&nbsp;{{secondItem.Title}}</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div *ngFor="let thirdItem of secondItem.Children" class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    <!-- begin::3 Level -->
                                    <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                                        <a class="menu-link" routerLink="{{thirdItem.RouteAddressLink}}" routerLinkActive="active">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span [style.color]="thirdItem.Color?.length>0 ? thirdItem.Color:''" class="menu-text"><i [ngClass]="thirdItem.Icon" [style.color]="firstItem.Color?.length>0 ? firstItem.Color:''" aria-hidden="true"></i>&nbsp;&nbsp;{{thirdItem.Title}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- end::Menu Nav -->
    </div>
    <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->
